{% extends "base.html" %}

{% block content %}
<div class="row g-4">
    <div class="col-12">
        <div class="card p-3">
            <div id="revenueChart"></div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card p-3">
            <div id="balanceChart"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    window.APP_CONFIG = {
        company: {{ company | tojson }}
    };
</script>

<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
{% endblock %}
